/*
font - GoldMan
Gradient - linear-gradient(180deg, #04AD00 24.81%, #DF4100 63.7%)
        - Start button linear-gradient(180deg, #00BB4B 12.77%, rgba(254, 254, 254, 0.76) 51.2%, #04DD5B 94.44%);
        - end button linear-gradient(180deg, #B00 12.77%, rgba(254, 254, 254, 0.76) 51.2%, #DD0404 94.44%);

Glow - fill: #B7E309;
        filter: blur(50px);

background color - #212121;

*/

@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font : 'Goldman', sans-serif;
    --font-gradiient : linear-gradient(180deg, #04AD00 24.81%, #DF4100 63.7%);
    --start-btn : linear-gradient(180deg, #00BB4B 12.77%, rgba(254, 254, 254, 0.76) 51.2%, #04DD5B 94.44%);
    --end-btn : linear-gradient(180deg, #B00 12.77%, rgba(254, 254, 254, 0.76) 51.2%, #DD0404 94.44%);
    --bg-color :  #212121;
}

body{
    font-family: var(--font);
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    overflow: hidden;
    position: relative;
}

.header{
    animation: slideUp 2s ease-in-out;
    position: relative;
}

.header h1{
    font-size: 5rem;
    background: linear-gradient(180deg, #04AD00 24.81%, #DF4100 63.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.center{
    position: relative;
    text-align: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    animation: slideRight 2s ease-in-out
}

.hand-container{
    visibility: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 100px;
    z-index: 7;

}

.center img, .hand-container,.power-up{
    grid-area: 1/1;
}


.center > img{
    width: 100%;
    height: 100%;
    transform: translateX(6rem) translateY(-1rem);
    z-index: 6;
}


.hand-container img{
    width: 250px;
    height: 100px;
    margin-top: 10rem;
}


.power-up{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #B7E309;
    filter: blur(50px);
    margin-top: -2rem;
    z-index: 5;
}

   
.right,.left{
    color: white;
    font-size: 4rem;
    animation: scaleUp 4s ease-in-out;
}

.right h1, .left h1{
    color: white;
    font-size: 15rem;
}

.start-btn{
    width: 19rem;
    height: 3rem;
    font-family: var(--font);
    font-size: 2.5rem;
    border-radius: 1rem;
    background: var(--start-btn);
    color: white;
    cursor: pointer;
    animation: shrink-grow 1s infinite ease-in-out;
}

.end-btn{
    width: 19rem;
    height: 3rem;
    font-family: var(--font);
    font-size: 2.5rem;
    border-radius: 1rem;
    background: var(--end-btn);
    color: white;
    cursor: pointer;
}

.pop-up-choices,.pop-up-winner{
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 80%;
    height: 80%;
    transform: translate(50%,20%);
    right: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.67);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 2rem;
}

.hand-signs-choices{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.hand-signs-choices > img{  
    transform: scale(0.8);
}

.active{
    display: block;
}


body > p{
    color: white;
    margin-top: 2rem;
}

@keyframes slideUp {
    0%{
        transform: translateY(-50%);
        top: 50%;
        
    }
    50%{
        transform: translateY(-50%);
        top: 50%; 
    }
    100%{
        transform: translateY(0);
        top: 0;
    }
}


@keyframes slideRight {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes scaleUp {
    0%{
        transform: scale(0);
    }
    75%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


@keyframes shrink-grow {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}